* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 100vw;
}
#header #nav {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
}
#header #nav img {
    height:30px;

}
#mob-icon{
    display: none;
}
#header #nav #btn {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 30px;
    font-family: 'Public Sans', sans-serif;
    background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
}
#header #nav .a {
    font-size: 18px;
    text-decoration: none;
    color:hsl(233, 8%, 62%);
    font-family: 'Public Sans', sans-serif;

}
#header #nav .a:hover {
    border-bottom: 3px hsl(136, 65%, 51%) solid;
} 

.container {
    position: relative;

}
.container .img{
    position: absolute;
    left:70.5%;
    width: 30vw;
}
.container .mob-img {
    display: none;
}
.container .item-1 {
    background-image: url('./images/bg-intro-desktop.svg');
    background-size: 60%;
    background-position: right -20% top 50%;
    background-repeat: no-repeat;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Public Sans', sans-serif;
}

.container .item-1 h1 {
    font-size: 3em;
    font-weight: 400;
    padding: 2rem 8rem;
    font-family: 'Public Sans', sans-serif;
}
.container .item-1 .p {
   font-size: 18px;
   color:hsl(233, 8%, 62%);
   width: 40rem;
   padding: 1rem 8rem;
   font-family: 'Public Sans', sans-serif;
}
.container .item-1 a{
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width:fit-content;
    padding: 15px 40px;
    border-radius: 30px;
    margin: 1rem 8rem;
    background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
}
.container .item-2 {
    background-color: hsl(220, 16%, 96%);
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Public Sans', sans-serif;

}
.container .item-2 h1 {
    font-size: 40px;
    padding: 0.5rem 8rem;
    font-weight: 500;
}
.container .item-2 .p1 {
   font-size: 18px;
   color:hsl(233, 8%, 62%);
   width: 700px;
   padding: 0.5rem 8rem;
   
}
.container .item-2  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}
.container .item-2 .box {
    display: flex;
    justify-content: space-between;
    padding: 2rem 6rem;

}
.part-1 img,.part-2 img,.part-3 img,.part-4 img{
    width:50px;
    height:50px;
}
.part-1,.part-2,.part-3,.part-4{
     margin-left: 30px;

}

.part-1 h3,.part-2 h3,.part-3 h3,.part-4 h3 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}
.part-1 .p2,.part-2 .p2,.part-3 .p2,.part-4 .p2{
    font-size: 18px;
    color:hsl(233, 8%, 62%);
}

.item-3 .article{
    display: flex;
    justify-content: space-between;
    padding: 2rem 8rem;
}
.item-3 .h3 {
    font-size: 40px;
    padding-left: 150px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 400;
}

.article-1 .by,.article-2 .by,.article-3 .by,.article-4 .by{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Public Sans', sans-serif;
    color:hsl(233, 8%, 62%);

}
.article-1 .about,.article-2 .about,.article-3 .about,.article-4 .about{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 100px;
    font-family: 'Public Sans', sans-serif;
    color:hsl(233, 8%, 62%);
    width: 200px;
}
.article-1 .a1,.article-2 .a1,.article-3 .a1,.article-4 .a1{
     font-size: 20px;
     display: block;
     width:250px;
    font-family: 'Public Sans', sans-serif;
    text-decoration: none;
    color: black;
}
.article-1 a:hover,.article-2 a:hover,.article-3 a:hover,.article-4 a:hover  {
    color: hsl(192, 70%, 51%);
}
.article-img {
    width: 300px;
    height: 200px;
    object-fit: contain;
    border-radius: 10px 10px 0px 0px;
}
.article-img-1{
    width: 300px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
footer {
    background-color: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    
}

footer .logo-1 {
    margin-bottom: 60px;
}
footer .icon {
    margin-bottom: 30px;
    padding: .5rem;
}
footer .end-1 .logo-1 {
    display: block;
}

footer .detail {
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 18px;
    color:white;
    font-family: 'Public Sans', sans-serif;
}
footer .btn-3 {
    display: block;
    font-family: 'Public Sans', sans-serif;
    text-decoration: none;
    color:white;
    width:fit-content;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 18px;
    margin-bottom: 30px;
    background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
}
footer p {
    color:white;
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
}
footer .detail:hover {
    color: hsl(136, 65%, 51%);
}
footer .icon:hover {
    cursor: pointer;
    filter: invert(76%) sepia(43%) saturate(6316%) hue-rotate(77deg) brightness(109%) contrast(78%);

}
@media (max-width:1300px){
    .item-3 .article{
        flex-wrap: wrap;
    }
}
@media (max-width:840px) {
    .item-3 .article{
        flex-wrap: wrap;
        justify-content: center;
    }
    .item-3 .h3 {
        padding-left: 0;
        text-align: center;
    }
    .box {
        flex-direction: column;
    }
}

@media (max-width:480px) {
    body{
        width:100vw;
        right: 0;
        box-sizing: border-box;
    }
    #header #nav {
        justify-content: space-between;

    }
    #header #nav img {
        /* margin-top: 4vh; */
        margin-right: 0;
        height:1.5rem;
    
    }

    #header #nav .a{
        display: none;
    }
    #header #nav #btn{
        display: none;
    }
     .container .mob-img {
         display: inline;
     }
     .container .img{
         position: relative;
         background-image: url('./images/bg-intro-mobile.svg');
         background-repeat: no-repeat;
         background-size: 100%;
         width:100%;
         left: 0%;
     }
     .container {
         margin-top: 0;
         justify-content: center;
     }
     #mob-icon{
         width:2rem;
        display: inline;
    }
    .container .item-1 h1 {
        padding: 0;
    }
    .container .item-1{
        background-image: none;
        height: auto;
        padding-left: 0px;
        align-items: center;
    }
    .container .item-1 .p {
        padding: 1.5rem;
        width: fit-content;
    }
    .container .item-2 .p1 {
        text-align: center;
        width:fit-content;
        
    }

    .container .item-2 {
        padding-left: 0px;
        text-align: center;
        width: auto;
    }
    .box {
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .part-2,.part-3,.part-4{
        margin-left: 0;
        padding-top: 30px;
    }
    .item-3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item-3 .article{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        padding: 0;
    }
    .article-2,.article-3,.article-4 {
        margin-left: 0;
    }
    .item-3 .h3{
        padding-left: 0;
    }
    footer{
        flex-direction: column;
        width:100%;
        
    }
    footer .logo-1{
        margin-left: 30%;
    }
    footer .end-1,footer .end-2,footer .end-3,footer .end-4 {
        margin-left: 0;
        text-align: center;
    }
    footer .end-4 {
        margin-left: 0;
        text-align: center;
    }
    footer .btn-3 {
        margin-left: 50px;
    }
    .container {
        width:100%;
    }
}